<div class="main-menu">
    <ul class="menu-items">

        <li class="menu-item">
            <i class="fa fa-home menu-item-home menu-item-bottom"></i> <a class="menu-heading" href="@Url.Action("Index", "Home")">Home</a>
            <ul class="sub-menu-items">
                <li class="sub-menu-item"><a class="link-menu" id="navMenuDashboard" href="@Url.Action("Dashboard", "Home")">Dashboard</a></li>
            </ul>
        </li>

        <li class="menu-item">
            <i class="fa fa-briefcase menu-item-home menu-item-bottom"></i> <a class="menu-heading" href="@Url.Action("Search", "Client")">Customers</a>
            <ul class="sub-menu-items">
                <li class="sub-menu-item"><a class="link-menu" id="navMenuSearchClient" href="@Url.Action("Search", "Client")">Search Existing Customers</a></li>
            </ul>
        </li>
    </ul>
    
    <ul class="collapsed-menu-items">
        <li class="menu-item">
            <a class="link-menu" href="@Url.Action("Index", "Home")">
                <i class="fa fa-home menu-item-home-collaps"></i>
                <div class="menu-item-home-text-collaps">Home</div>
            </a>
        </li>
    </ul>
</div>
